
<div class="border flex p-5 gap-3">
  <div class="flex-col w-1/6 p-5 border-1 text-center hover:bg-red-200 hover:text-white transition">
    <a routerLink="/works" class="font-semibold">Works Module</a>
  </div>

  <div class="flex-col w-1/6 p-5 border-1 text-center hover:bg-red-200 hover:text-white transition">
    <a routerLink="#" class="font-semibold">Accounts Module</a>
  </div>

  <div class="flex-col w-1/6 p-5 border-1 text-center hover:bg-red-200 hover:text-white transition">
    <a routerLink="#" class="font-semibold">Billing Module</a>
  </div>

  <div class="flex-col w-1/6 p-5 border-1 text-center hover:bg-red-200 hover:text-white transition">
    <a routerLink="/document" class="font-semibold">Documents</a>
  </div>
</div>
